{% extends 'base.html.twig' %}
{% block body %}
        <h1>Bienvenue dans ce blog</h1>

        <p>Lorem ipsus, dolor sit amet consectetur adisicing elit. Incidunt omnis placeat facero explicabo
        earum vero sunt re ?</p>

        <p>Lorem ipsus, dolor sit amet consectetur adisicing elit. Incidunt omnis placeat facero explicabo
        earum vero sunt re ?</p>
{% endblock %}